[Unit]

Description=node_exporter
Wants=network-online.target
After=network-online.target

[Service]

User={{prometheus_node_exporter_user}}
Group=prometheus
Type=simple
ExecStart={{prometheus_node_home_dir}}/latest/node_exporter
Restart=on-failure
RestartSec=5s


[Install]

WantedBy=multi-user.target