server:
  http_listen_port: 0
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

client:
  url: https://{{grafana_cloud_user}}:{{grafana_cloud_api_key}}@logs-prod-us-central1.grafana.net/loki/api/v1/push

scrape_configs:
#- job_name: system
#  static_configs:
#  - targets:
#      - localhost
#    labels:
#      job: varlogs
#      __path__: /var/log/*.log

  - job_name: audit_log
    static_configs:
    - targets:
        - localhost
      labels:
        hostname: "{{ansible_fqdn}}"
        job: audit
        __path__: /var/log/audit/audit.log
  
  - job_name: dnf_log
    static_configs:
    - targets:
        - localhost
      labels:
        hostname: "{{ansible_fqdn}}"
        job: dnf
        __path__: /var/log/dnf.log

  - job_name: syslog_log
    static_configs:
    - targets:
        - localhost
      labels:
        hostname: "{{ansible_fqdn}}"
        job: syslog
        __path__: /var/log/syslog

  - job_name: messages_log
    static_configs:
    - targets:
        - localhost
      labels:
        hostname: "{{ansible_fqdn}}"
        job: messages
        __path__: /var/log/messages

  - job_name: mail_log
    static_configs:
    - targets:
        - localhost
      labels:
        hostname: "{{ansible_fqdn}}"
        job: mail
        __path__: /var/log/mail.log

  - job_name: kern_log
    static_configs:
    - targets:
        - localhost
      labels:
        hostname: "{{ansible_fqdn}}"
        job: kern_log
        __path__: /var/log/kern_log.log

  - job_name: journal
    journal:
      json: true
      max_age: 12h
      path: /var/log/journal
      labels:
        job: systemd-journal
        hostname: "{{ansible_hostname}}"
    relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: 'unit'
  

#  - job_name: firewalld_log
#    static_configs:
#    - targets:
#        - localhost
#      labels:
#        hostname: "{{ansible_hostname}}"
#        job: firewalld
#        __path__: /var/log/firewalld
