[Unit]

Description=promtile client for loki service
StartLimitIntervalSec=300
StartLimitBurst=5
Wants=network-online.target
After=network-online.target

[Service]

User={{prometheus_promtail_user}}
Group=prometheus
Type=simple
ExecStart={{prometheus_promtail_home_dir}}/promtail-linux-amd64 -config.file {{prometheus_promtail_home_dir}}/config-promtail.yml
Restart=on-failure
RestartSec=5s

[Install]

WantedBy=multi-user.target