global:
  scrape_interval: {{config_prometheus_scrape_interval}}
  scrape_timeout: {{config_prometheus_scrape_timeout}}
  evaluation_interval: {{config_prometheus_evaluation_interval}}
  query_log_file: {{prometheus_querylog_dir}}/query.log

scrape_configs:
- job_name: 'prometheus'
  static_configs:
  - targets: ['localhost:9090']

{% if remote_write_cloud != 0 %}
remote_write:
- url: https://prometheus-prod-10-prod-us-central-0.grafana.net/api/prom/push
  basic_auth:
    username: {{prometheus_cloud_user}}
    password: {{prometheus_cloud_api_key}}
{% else %}
remote_write:
{% endif %}

